<nav>
	<ul>
		<li>
			<a
				routerLink="/equipment"
				routerLinkActive="active"
				ariaCurrentWhenActive="page"
				>Equipment</a
			>
		</li>
		<li>
			<a
				routerLink="/usables"
				routerLinkActive="active"
				ariaCurrentWhenActive="page"
				>Usables</a
			>
		</li>
		<li>
			<a
				routerLink="/actions"
				routerLinkActive="active"
				ariaCurrentWhenActive="page"
				>Actions</a
			>
		</li>
		<li>
			<a
				routerLink="/tiles"
				routerLinkActive="active"
				ariaCurrentWhenActive="page"
				>Tiles</a
			>
		</li>
	</ul>
</nav>

<router-outlet></router-outlet>
