/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'icon-pack';
    src: url('assets/fonts/Tts_icons-Regular.ttf');
}

@font-face {
    font-family: 'Liberation';
    src: url('assets/fonts/LiberationMono-Bold.ttf');
}

body { 
    font-family: 'Liberation';
    font-size: 48px;
    background: #c5c5c5;
}