@use "sass:math";

// Define hexagon-related variables
$hexagonTotalWidth: 405px;
$hexagonBorder: 15px;
$hexagonSideLength: $hexagonTotalWidth / 2;
$hexagonHeight: calc($hexagonSideLength * math.sqrt(3));
$hexagonVerticalGap: $hexagonHeight / 4;
$hexagonRotationGap: ($hexagonHeight - $hexagonTotalWidth) / 2;
