<div class="tile1">
	<app-tile [tile]="tiles[0]"></app-tile>
</div>
<div class="tile2">
	<app-tile [tile]="tiles[1]"></app-tile>
</div>
<div class="tile3">
	<app-tile [tile]="tiles[2]"></app-tile>
</div>
<div class="tile4">
	<app-tile [tile]="tiles[3]"></app-tile>
</div>
<div class="tile5">
	<app-tile [tile]="tiles[4]"></app-tile>
</div>
<div class="tile6">
	<app-tile [tile]="tiles[5]"></app-tile>
</div>
<div class="tile7">
	<app-tile [tile]="tiles[6]"></app-tile>
</div>
<div class="tile8">
	<app-tile [tile]="tiles[7]"></app-tile>
</div>
<div class="tile9">
	<app-tile [tile]="tiles[8]"></app-tile>
</div>
<div class="tile10">
	<app-tile [tile]="tiles[9]"></app-tile>
</div>
<div class="tile11">
	<app-tile [tile]="tiles[10]"></app-tile>
</div>
