.type {
  text-align: center;
  font-size: 48px;
  border-bottom: 1px solid black;
}

.inner-type {
  padding: 0;
}

.cost {
  float: right;
}

.name {
  font-size: 38px;
}

.rules {
  margin-top: 37px;
}

.card-image {
  border: black 1px solid;
  background-image: url("/assets/cardImages/equipment/construction.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 37px;
  height: 350px;
}

.inner-card {
  background-color: white;
  border-radius: 25px;
  height: 86%; //This one looks good at 86% + 10% from the padding... idk why
  width: 82%; //92%: this number must match throughout search the project for this comment for refrences
  padding: 5%; //10%: this count's 2x it's value (padding on both sides, sides and top/bottom)
  margin: auto;
}
