<div [ngStyle]="this.cardStyle">
    <div class="inner-card">
        <div class="spacing">
            <div *ngIf="this.type; else noType" class="type">{{this.type}}</div>
            <ng-template #noType>&nbsp;</ng-template>
            <div>
                <span class="name">{{this.name}}</span>
                <span *ngFor="let cost of this.costs" class="cost">{{cost.type}}x{{cost.value}}</span>
            </div>
            <div class="rules">{{this.rules}}</div>
        </div>
    </div>
</div>